*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-image: linear-gradient(hsl(0, 0%, 100%),hsl(0, 100%, 98%)) no-repeat; */
}
section{
  text-align: center;
  background-image: linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
  height: 800px;
  width: 375px;
}
#logo{
  background: url(logo.svg) no-repeat center left;
  background-size: 25%;
  padding: 25px;
  height: 85px;
  margin-left: 25px;
}
#image{
  height: 250px;
  width: 375px;
}
#text{
  margin: 60px 20px 35px 20px;
}
h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 10px;
  line-height: 40px;
}
#span{
  font-weight: 200;
  color: hsl(0, 36%, 70%);
}
#title{
  margin-bottom: 30px;
}
p{
  color: hsl(0, 36%, 70%);
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 20px;
}
#input{
  display: flex;
  justify-content: center;
}
input{
  border: 1px solid hsl(0, 36%, 70%);
  background: transparent;
  color: hsl(0, 36%, 70%);
  width: 310px;
  height: 45px;
  border-radius: 25px;
  padding-left: 25px;
  z-index: 5;
}
button{
  height: 45px;
  width: 60px;
  margin-left: -60px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
}
#imagedesktop{
  display: none;
}
@media only screen and (min-width: 1000px){
  body{
    height: 100vh;
    align-items: center;
  }
  #image{
    display: none;
  }
  section{
    display: flex;
    width: 1440px;
  }
  #left{
    width: 840px;
    height: 800px;
    background: url(bg-pattern-desktop.svg) no-repeat center;
    background-size: contain;
  }
  #logo{
    background-size: 24%;
    margin-left: 185px;
    margin-top: 60px;
    padding: 30px;
  }
  #main{
    padding: 40px 160px 0 160px;
    text-align: left;
  }
  h1{
    font-size: 4em;
    line-height: 70px;
    text-align: left;
    letter-spacing: 15px;
  }
  p{
    font-size: 16px;
    line-height: 25px;
  }
  #imagedesktop{
    height: 800px;
    width: 600px;
    display: block;
  }
  #input{
    justify-content: flex-start;
    margin-left: 20px;
  }
  input{
    width: 480px;
    height: 55px;
    font-size: 16px;
    border-radius: 40px;
  }
  button{
    width: 100px;
    height: 55px;
    margin-left: -100px;
    border-radius: 40px;
  }
}
